* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.headerContainer {
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerContainer img{
    max-width: 100px;
    margin-left: 10px;
}
.headerContainer .searchContainer {
    margin-right: 10px;
}
.headerContainer .searchContainer > input{
    width: 200px;
    background-color: #000000;
    color: #fff;
}
.headerContainer .searchContainer .checkButton {
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 10px;
    display: none;
    border: solid 2px #757575;
    background-color: #222;
    border-radius: 5px;
}
.headerContainer .searchContainer .checkButton:active {
    background-color: #000;
}
.headerContainer .searchContainer #check {
    display: none;
}
.cardsContainer {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.cardsContainer .itemContainer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px 0px;
}
.cardsContainer .itemContainer:hover {
    transform: scale(1.1);
    background: #3333;
}
.cardsContainer .itemContainer a img {
    max-width: 80px;
}
.cardsContainer .itemContainer a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardsContainer .itemContainer a .experience,  .cardsContainer .itemContainer a .type{
    margin: 5px 0;
}
@media (max-width: 1000px) {
    .cardsContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 860px) {
    .cardsContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 640px) {
    .cardsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 480px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }
    .headerContainer {
        flex-direction: column;
        padding: 8px;
        height: auto;
    }
    .headerContainer img {
        margin: 0;
    }
    .headerContainer .searchContainer {
        margin: 0;
    }
    .headerContainer .searchContainer .searchInput {
        margin-top: 10px;
        display: none;
    }
    .headerContainer .searchContainer .checkButton {
        display: block;
    }
    #check:checked ~ .searchInput {
        display: block;
    }
}